
<style type="text/css">
  /* Main marketing message and sign up button */
  .jumbotron {
    margin: 60px 0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 72px;
    line-height: 1;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
</style>

<div class="jumbotron">
  <h1>Welcome to The Lair!</h1>
  <br/>
  <p class="lead"><b>You are an evil genius.</b><br/>However, agents are intruding into your secret underground lair.<br/>Program your sentry robots to protect your lair from the agents!</p>
  <a class="btn btn-large btn-primary" href="#">Enter <i>The Lair</i></a>
</div>
